/*****************************************
# Michael Wyatt
#
# Table of contents:
#
#
#
#
*****************************************/

/*=====================================
# Imports
=====================================*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400i,700,700i');

/*=====================================
# Reset
=====================================*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  }


/*=====================================
# Globals
=====================================*/
html{
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
}

p{
	line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6,
.site-title{
	font-family: 'Montserrat', sans-serif;
}

h1{

}



/*=====================================
# Header
=====================================*/

header{
	color: #fff;
	background: #000;
}

.header-wrapper{
	display: flex;
	padding: 2em;
	align-items: center;
}

.site-title{
	font-size: 1.7em;
	color: #FFC312;
}

/* Social Media */

header .social-media,
header nav{
	margin-left: 2em;
}

header .social-media > ul{
	display: flex;
}
header .social-media li{
	padding: 0 0.4em;

}
header .social-media li > a{
	color: #fff;
	transition: 0.5s;

}

header .social-media li > a:hover{
	color: #3498db;

}



/* Navigation */

header nav ul{
	display: flex;
}

header nav ul > li{
	padding: 0 0.5em;
}

header nav ul > li > a{
	color: #fff;
	text-decoration: none;
}

/*=====================================
# Hero
=====================================*/
.hero-wrapper{
	display: flex;
	padding: 2em;
	overflow: hidden;
	position: relative;
}

.hero-image{
	transform: translateX(70%);
	/* clip-path: inset(0 34px 0 0); */
	overflow: hidden;
	position: relative;
}

.hero-image::before{
	position: absolute;
	content: " ";
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;

}

.hero-image img{
	width: 60vw;
	z-index: 0;

}
.hero-wrapper .line-1{
	line-height: 1;
	font-size: 9em;
	position: absolute;
	width: 66%;
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	z-index: 3;
	padding: 0;
	margin: 0.2em 1.3em;
}

/*=====================================
# About Me
=====================================*/
#about{
	margin: 3em 0 10em 0;
	padding: 2em;
}

/* large text */

#about .large-text{
	margin: 2em 0 0.5em 0;
	font-family: 'Montserrat',sans-serif;
	font-size: 3em;
	width: 60%;
	transform: translateX(60%);
}

#about .content{
	transform: translateX(72%);
	width: 50%;
	font-size: 0.9em;
}

/*=====================================
# My Services
=====================================*/

#services{
	max-width: 960px;
	margin: 1em auto;
	width: 100%;
	display: block;
}

#services .services-wrapper{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

}

#services .services-item::before{
	position: absolute;
	content: " ";
	background: rgba(0, 0, 0, 0.5);
	height: 100%;
	width: 100%;
}

#services .services-item{
	width: 45%;
	height: 300px;
	position: relative;
	z-index: 1;
}

#services .services-item h3,
#services .services-item p{
	position: relative;
	z-index: 2;
	color: #fff;
}


#services .services-item.one{
	background: url(../../inc/images/ux-ui.jpg) no-repeat 50% 70%;
	display: block;
	background-size: cover;
}

#services .services-item.two{
	background: url(../../inc/images/front-end-development.jpg) no-repeat 50% 50%;
	display: block;
	background-size: cover;
	transform: translateY(20%);
}
#services .services-item.three{
	background: url(../../inc/images/typewriter.jpg) no-repeat;
	display: block;
	background-size: cover;
}

#services .services-item.four{
	background: url(../../inc/images/wp-sy-development.jpg) no-repeat;
	display: block;
	background-size: cover;
	transform: translateY(20%);
}

#services .services-item h3{
	font-size: 2em;
	margin: 0.8em 0;
	color: #fff;
}

#services .services-item p{
	color: #CAD3C8;
	font-size: 0.9em;
}

#services .services-item .item-wrapper{
	padding: 2em;
}




/*=====================================
# Works
=====================================*/


/*=====================================
# Call to action
=====================================*/
#cta.one{
	display: block;
	margin: 20em auto 7em auto;
	padding: 0 auto;
	width: 80%;
}

#cta.two{
	display: block;
	margin: 10em auto 7em auto;
	padding: 0 auto;
	width: 80%;
}

#cta .large-text{
	font-size: 3em;
	font-family: 'Montserrat', sans-serif;
}

#cta a {
	color: #fff;
	margin: 3em 0;
	display: inline-block;
	background: #e74c3c;
	padding: 1em 5em;
	text-decoration: none;
	transition: 1s;
}

#cta.two a{
	padding: 1.3em 4em
}

#cta a:hover{
	transform: scale(1.1);
}

/*=====================================
# testimonials
=====================================*/
#testimonials{
	margin: 3em 2em;
	width: 95%;
}

#testimonials .wrapper{
	display: flex;
	flex-wrap: wrap;

}

#testimonials .statement{
	background: #bdc3c7;
	flex: 1;
	padding: 2em;
	margin: 0.5em;
}

#testimonials .statement .person{
	margin-top: 1em;
	font-weight: bold;
}

#testimonials .statement .person::before{
	content: "- "
}


/*=====================================
# Contact
=====================================*/
#contact{
	padding: 2em;
	background: #000;
	color: #fff;
}
/*=====================================
# Footer
=====================================*/
footer .legal{
	padding: 2em;
}
/*=====================================
# Media Queries
=====================================*/

@media (max-width: 1060px){
	.hero-wrapper .line-1{
		width: 90%;
		margin: 0.2em 0.3em;
	}
}

@media (max-width: 1160px){
	.hero-wrapper .line-1{
		font-size: 8em;
		width: 90%;
		margin: 0.2em 0.3em;
	}
}

@media (max-width: 924px){
	.hero-wrapper .line-1{
		font-size: 6em;
	}
}

@media (max-width: 830px){
	.hero-wrapper .line-1{
		font-size: 6em;
	}

	#about .large-text {
    font-size: 2.5em;
    width: 85%;
    transform: translateX(11%);
	}

	#about .content{
		transform: translateX(17%);
		width: 60%;
		font-size: 0.9em;
	}

	#cta .large-text{
		font-size: 2.5em;
	}
}


@media (max-width: 700px){
	.hero-wrapper .line-1{
		font-size: 4em;
	}

	#about .large-text {
    font-size: 2.5em;
    width: 85%;
    transform: translateX(12%);
	}

	#about .content{
		transform: translateX(17%);
		width: 60%;
		font-size: 0.9em;
	}

	#services .services-wrapper{
		flex-direction: column;
	}

	#services .services-item.four,
	#services .services-item.two{
		transform: translateY(0%);
	}

	#services .services-item {
    width: 80%;
	}

	#cta .large-text{
		font-size: 2.5em;
	}

	footer{
		font-size: 0.7em;
	}

}

@media (max-width: 460px){
	.header-wrapper{
		flex-direction: column;
	}

	.social-media{
		margin-top: 1em;
		padding: 0;
	}

	.hero-wrapper .line-1{
		font-size: 3em;
	}

	#about .large-text {
    font-size: 2em;
    width: 85%;
    transform: translateX(10%);
	}

	#about .content{
		transform: translateX(17%);
		width: 60%;
		font-size: 0.9em;
	}

	#testimonials{
		margin: 3em 1em;
	}

	#cta .large-text{
		font-size: 2em;
	}
}

@media (max-width: 400px){
	.hero-wrapper .line-1{
		font-size: 2em;
	}

	#about .large-text {
    font-size: 2em;
    width: 85%;
    transform: translateX(10%);
	}

	#about .content{
		transform: translateX(17%);
		width: 60%;
		font-size: 0.9em;
	}

	#testimonials .wrapper{
		flex-direction: column;
		margin: 3em 0.5em;
	}

}
