@import url('https://fonts.googleapis.com/css?family=Asap|Permanent+Marker');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    /* Adjust font size */
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    /* Font varient */
    font-variant-ligatures: none;
    -webkit-font-variant-ligatures: none;
    /* Smoothing */
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
    font-size: 16px;
  }

html{
    font-family: 'Asap', sans-serif;
    
}


body{
    background: url(assets/white-wall.jpg);
    background-size: cover;
    color: #fff;
}

body::before{
    background: rgba(1,1,1,0.4);
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    margin:0;
    padding:0; 
}

header{
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
    text-align: center;
    padding: 2em;
}

header,
p {
    position: relative;
    z-index: 3;
}

p.content{
    padding: 2em;
    text-align: center;
}


p.contact-me{
    text-align: center;
    margin: 0 auto;
    margin-top: 3em;
    
}

p.contact-me a{
    background: #182C61;
    padding: 0.9em 1em;
    color: #fff;
    text-decoration: none;
    font-size: 1.15em;

}

p.contact-me a:hover{
    color: #333;
    background: #fff;

}

.social-media{
    text-align: center;
    color: #fff;
    position: relative;
    z-index: 5;
    margin-top: 3em;
}

.social-media ul li{
    display: inline-block;
    padding: 0.2em;
}

.social-media a{
    color: #fff;
    font-size: 1.3em;
    
}

.social-media a:hover{
    color: #333;
    
}